@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

body {
  color: var(--color-gray-950);
  font-family: var(--font-source-sans-3);
  font-size: 18px;
  font-weight: 600;
  background: white;
}
h1 {
  font-size: 2.5em;
  font-weight: 800;
  font-family: var(--font-rubik);
  line-height: 110%;
}
h2 {
  font-size: 1.6em;
  font-family: var(--font-rubik);
}
h3 {
  font-size: 1.1em;
  font-family: var(--font-rubik);
}
b {
  font-weight: 700;
}
p {
  margin-bottom: 0.2em;
}

.header-shadow {
  box-shadow:
    0px 4px 15px -12px rgba(8, 22, 15, 0.05),
    0px 20px 24px -10px rgba(55, 189, 124, 0.1);
}
.form-shadow {
  box-shadow:
    0px 4px 16px 1px rgba(8, 22, 15, 0.1),
    0px 20px 20px 4px rgba(55, 189, 124, 0.15);
}

@utility emerald-glow {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(3, 226, 152, 0.4);
  -moz-box-shadow: 0px 0px 35px 0px rgba(3, 226, 152, 0.4);
  box-shadow: 0px 0px 35px 0px rgba(3, 226, 152, 0.4);
}

@utility amber-glow {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(255, 167, 36, 0.4);
  -moz-box-shadow: 0px 0px 35px 0px rgba(255, 167, 36, 0.4);
  box-shadow: 0px 0px 35px 0px rgba(255, 167, 36, 0.4);
}

@utility rose-glow {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(255, 36, 83, 0.4);
  -moz-box-shadow: 0px 0px 35px 0px rgba(255, 36, 83, 0.4);
  box-shadow: 0px 0px 35px 0px rgba(255, 36, 83, 0.4);
}
.text-ia h2 {
  color: var(--color-emerald-500);
  font-weight: 600;
}

.text-ia h3,
.text-ia h4 {
  color: var(--color-emerald-500);
  font-weight: 550;
  margin-top: 0.75em;
}

.text-ia strong {
  color: var(--color-emerald-600);
}
.text-ia p {
  margin-left: 1.5em;
}

.text-ia ul {
  list-style: disc;
  margin-left: 2.85em;
}

.text-ia ol {
  list-style: decimal-leading-zero;
  margin-left: 1em;
}

.text-h1 {
  font-size: 2.5em;
  font-weight: 800;
  font-family: var(--font-rubik);
  line-height: 110%;
}
.text-h2 {
  font-size: 1.6em;
  font-family: var(--font-rubik);
}
.text-h3 {
  font-size: 1.1em;
  font-family: var(--font-rubik);
}
.text-body {
  font-size: 1em;
  font-weight: 600;
}
.text-bold {
  font-weight: 600;
}
.text-light {
  font-size: 0.9em;
  font-weight: 400;
}

.container-custom {
  border-radius: 1rem;
  padding-inline: 3em;
  padding-block: 1em;
  font-size: inherit;
}
.swal2-title {
  text-align: center !important;
}
.container-custom .swal2-title {
  text-align: left;
  padding: 0;
  margin-bottom: 0.5em;
}

.container-custom .swal2-html-container {
  text-align: center;
  display: flex !important;
  flex-direction: column;
  gap: 0.75em;
  padding: 0;
}
.container-custom .swal2-confirm {
  background-color: var(--color-emerald-500);
  color: white;
  font-weight: 600;
  border-width: 0.15rem;
  padding: 0.4em 1.25em;
  border-radius: 0.6em;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--color-emerald-600);
  }
}
.container-custom .swal2-deny {
  background-color: var(--color-red-500);
  color: white;
  font-weight: 600;
  border-width: 0.15rem;
  padding: 0.4em 1.25em;
  border-radius: 0.6em;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--color-red-600);
  }
}
.container-custom b {
  font-size: 1em;
}

.colored-toast {
  width: 20rem;
  border-radius: 1em;
}

.colored-toast .swal2-title {
  text-align: left !important;
}

.swal2-success,
.swal2-success-fix,
.swal2-success-line-long,
.swal2-success-line-tip,
.swal2-success-circular-line-left,
.swal2-icon swal2-success swal2-icon-show {
  color: var(--color-emerald-500) !important;
  border-color: var(--color-emerald-500) !important;
}

.colored-toast.swal2-icon-success {
  background-color: var(--color-emerald-500) !important;
}

.swal2-error {
  color: var(--color-red-500) !important;
}

.colored-toast.swal2-icon-error {
  background-color: var(--color-red-500) !important;
}

.colored-toast.swal2-icon-warning {
  background-color: var(--color-amber-500) !important;
}

.swal2-info {
  color: var(--color-indigo-500) !important;
  border-color: var(--color-indigo-500) !important;
}

.colored-toast.swal2-icon-info {
  background-color: var(--color-indigo-500) !important;
}

.swal2-question {
  color: var(--color-gray-500) !important;
  border-color: var(--color-gray-500) !important;
}

.colored-toast.swal2-icon-question {
  background-color: var(--color-gray-500) !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

.text-header {
  line-height: 150%;
  font-weight: 600;
  color: var(--color-emerald-500);
  position: relative;
  transition: color 0.2s;
  &:hover {
    color: var(--color-emerald-600);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 0.2em;
    height: 0.125em;
    bottom: 0;
    left: 0;
    background-color: var(--color-emerald-500);
    transform-origin: center;
    transition:
      transform 0.2s,
      babckground-color 0.2s;
  }
  &:hover::after {
    background-color: var(--color-emerald-600);
    transform: scaleX(1);
    transform-origin: center;
  }
}
.text-header-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em;
  transform: scaleX(1);
  bottom: 0;
  left: 0;
  background-color: var(--color-emerald-500);
}

.container {
  max-width: 1536px;
  margin-inline: auto;
  padding-left: 0.5rem;
  width: 100%;
  padding-right: 0.5rem;
  /*outline: solid 2px red;*/
}

label {
  cursor: text;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  body {
    font-size: 16px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
