@import "tailwindcss";
@import "tw-animate-css";

*,
*::before,
*::after {
  font-family: var(--font-source-sans-3);
  font-size: 18px;
  font-weight: 600;
}

@layer base {
  body {
    color: var(--color-gray-950);
  }
  h1 {
    font-size: 48px;
    font-weight: 800;
    font-family: var(--font-rubik);
  }
  h2 {
    font-size: 36px;
    font-family: var(--font-rubik);
  }
  h3 {
    font-size: 26px;
    font-family: var(--font-rubik);
  }
  h4 {
    font-size: 22px;
    font-family: var(--font-rubik);
  }
  b {
    font-weight: 700;
  }
}
.default-shadow {
  box-shadow: 0px 4px 15px -12px rgba(8, 22, 15, 0.05),
    0px 20px 24px -10px rgba(55, 189, 124, 0.1);
}
.text-h1 {
  font-size: 48px;
  font-weight: 800;
  font-family: var(--font-rubik);
}
.text-h2 {
  font-size: 36px;
  font-family: var(--font-rubik);
}
.text-h3 {
  font-size: 26px;
  font-family: var(--font-rubik);
}
.text-h4 {
  font-size: 22px;
  font-family: var(--font-rubik);
}
.text-body {
  font-size: 18px;
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}
.text-light {
  font-size: 16px;
  font-weight: 400;
}
.text-header {
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
  color: var(--color-emerald-500);
  transition: all 0.3s;
  &:hover {
    color: var(--color-emerald-600);
  }
}
.text-header-active {
  text-decoration: underline;
}
